<div class="bookmark">

    <div class="bookmark__section">
        <h1> <%= current_user.name %> さんのお気に入り</h1>
    </div>

    <div class="mainArea">
        <div class="episodeBookmarks">
            <div class="episodeBookmarks__section">
                <h2>みんなのエピソード</h2>
            </div>

            <% @episodeBookmarks.each do |bookmark| %>
            <table>
                <tr>
                    <th rowspan="3">
                        <%= attachment_image_tag(bookmark.user, :image, size: "100x100", fallback: "no_image.png", class:"episodeBookmarks__image") %>
                    </th>
                    <td>
                        <%= link_to bookmark.user.name, user_path(bookmark.user) ,class:"episodeBookmarks__name" %>
                        <%= bookmark.updated_at.strftime("%Y-%m-%d %H:%M") %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= link_to bookmark.episode.title, episode_path(bookmark.episode) , class:"episodeBookmarks__body" %>
                    </td>
                </tr>
            </table>
            <% end %>
            <div class="episodeBookmarks__page">
                <%= paginate @episodeBookmarks %>
            </div>
        </div>
        <div class="proverbBookmarks">
            <h2 class="proverbBookmarks__section">みんなの格言</h2>
            <% @proverbBookmarks.each do |bookmark| %>
            <table>
                <tr>
                    <th rowspan="3">
                        <%= attachment_image_tag(bookmark.user, :image, size: "100x100", fallback: "no_image.png", class:"proverbBookmarks__image") %>
                    </th>
                    <td>
                        <%= link_to bookmark.user.name, user_path(bookmark.user) ,class:"proverbBookmarks__name" %>
                        <%= bookmark.updated_at.strftime("%Y-%m-%d %H:%M") %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= link_to "#{bookmark.proverb.name} の言葉", proverb_path(bookmark.proverb) , class:"proverbBookmarks__body" %>
                    </td>
                </tr>
            </table>
            <% end %>
            <div class="proverbBookmarks__page">
                <%= paginate @proverbBookmarks %>
            </div>
        </div>
    </div>
</div>