<div class="bookmark">

    <div class="bookmark__section">
        <h1> <%= current_user.name %> さんのお気に入り</h1>
    </div>

    <div class="mainArea">
        <div class="episodeBookmarks">
            <div class="episodeBookmarks__section">
                <h2>みんなのエピソード</h2>
            </div>

            <% @episodes.each do |episode| %>
            <table>
                <tr>
                    <th rowspan="3">
                        <%= attachment_image_tag(episode.user, :image, size: "100x100", fallback: "no_image.png", class:"episodeBookmarks__image") %>
                    </th>
                    <td>
                        <%= link_to episode.user.name, user_path(episode.user) ,class:"episodeBookmarks__name" %>
                        <%= episode.updated_at.strftime("%Y-%m-%d") %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= link_to episode.episode.title, episode_path(episode.episode) , class:"episodeBookmarks__body" %>
                    </td>
                </tr>
            </table>
            <% end %>
            <div class="episodeBookmarks__page">
                <%= paginate @episodes %>
            </div>
        </div>




        <div class="proverbBookmarks">
            <h2 class="proverbBookmarks__section">みんなの格言</h2>
            <% @proverbs.each do |proverb| %>
            <table>
                <tr>
                    <th rowspan="3">
                        <%= attachment_image_tag(proverb.user, :image, size: "100x100", fallback: "no_image.png", class:"proverbBookmarks__image") %>
                    </th>
                    <td>
                        <%= link_to proverb.user.name, user_path(proverb.user) ,class:"proverbBookmarks__name" %>
                        <%= proverb.updated_at.strftime("%Y-%m-%d") %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= link_to "#{proverb.proverb.name} の言葉", proverb_path(proverb.proverb) , class:"proverbBookmarks__body" %>
                    </td>
                </tr>
            </table>
            <% end %>
            <div class="proverbBookmarks__page">
            <%= paginate @proverbs %>
            </div>
        </div>
    </div>
</div>