<div class="sign">

  <h2 class="sign__title">ログイン</h2>

  <h3 class="sign__body">
    いとをかしに登録している方は、下記からログインしてください。<br>
    まだ登録していない方は <%= link_to "こちらから登録", new_registration_path(resource_name) %> してください。
  </h3>

  <div class="input">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.label :email, class:"input__label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input__form" %>


    <%= f.label :password, class:"input__label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"input__form" %>


    <% if devise_mapping.rememberable? %>
    <%= f.check_box :remember_me, class:"input__label" %>
    <%= f.label :remember_me, class:"input__form" %>
    <% end %>

    <%= f.submit "ログイン", class:"input__button" %>
    <% end %>
  </div>

  <p class="sign__loginNavi">Googleアカウントをお持ちの方はこちらから</p>

  <%=  link_to 'Signin with Google', user_google_oauth2_omniauth_authorize_path(:google_oauth2), class:"sign__google" %>


</div>