<div class="indexProverb">
    <div class="indexProverb__section">
        <h1>みんなの格言</h1>
    </div>
</div>

<div class="mainArea">

    <div class="rank">
        <div class="rank__section">
            <h3>いいねランキング</h3>
        </div>
        <% @all_rank.first(5).each.with_index(1) do |rank, i| %>
        <% if i == 1 %>
        <div class="rank__row">
            King<br>
            <%= link_to "#{rank.name} の格言", proverb_path(rank) %> /
            <%= link_to rank.user.name, user_path(rank.user) %><br>
            いいね件数： <%= rank.proverb_favorites.count %> 件
        </div>
        <% else %>
        <div class="rank__row">
            第<%= i %>位<br>
            <%= link_to "#{rank.name} の格言", proverb_path(rank) %> /
            <%= link_to rank.user.name, user_path(rank.user) %><br>
            いいね件数： <%= rank.proverb_favorites.count %> 件
        </div>
        <% end %>
        <% end %>
    </div>

    <div class="timeline">
        <% @proverbs.each do |proverb| %>
        <table>
            <tr>
                <th rowspan="3">
                    <%= attachment_image_tag(proverb.user, :image, size: "100x100", fallback: "no_image.png", class:"timeline__image") %>
                </th>
                <td>
                    <%= link_to proverb.user.name, user_path(proverb.user), class:"timeline__name" %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= link_to "#{proverb.name} の格言", proverb_path(proverb), class:"timeline__body" %>
                </td>
            </tr>
            <% end %>
        </table>
        <div class="timeline__page">
            <%= paginate @proverbs %>
        </div>
    </div>

    <div class="userProfile">
        <%= attachment_image_tag(@user, :image, size: "250x250", fallback: "no_image.png", class:"userProfile__image") %>
        <p class="userProfile__name">ニックネーム： <%= @user.name %> </p>
        <%= link_to "格言投稿", new_proverb_path, class:"userProfile__button" %><br>
        <%= link_to "格言検索", proverbs_search_path, class:"userProfile__button--search" %><br>
        <%= link_to "プロフィール編集", edit_user_path(@user), class:"userProfile__button--edit" %><br>
        <%= link_to "お気に入り一覧", user_bookmarks_path(@user), class:"userProfile__button--bookmark" %><br>
    </div>
</div>