<div class="newProverb">

    <div class="newProverb__section">
        <h1>格言投稿</h1>
    </div>

    <%= form_with model:@proverb, local: true do |f| %>
    <%= render 'layouts/error_message', model: f.object %>

    <div class="input">
        <%= f.label :body, "格言", class:"input__label" %><br>
        <%= f.text_field :body, placeholder:"格言を入力してください", class:"input__form" %>
    </div>

    <div class="input">
        <%= f.label :name, "誰の格言か", class:"input__label" %><br>
        <%= f.text_field :name, placeholder:"格言主を入力してください", class:"input__form" %>
    </div>

    <div class="input">
        <%= f.label :introduction, "格言に対してのコメント", class:"input__label" %><br>
        <%= f.text_area :introduction, placeholder:"この格言に対するあなたの印象を入力してください", class:"input__form--area" %>
    </div>

    <%= f.submit "投稿する", class:"newProverb__button" %>

    <% end %>
</div>