<h1>格言投稿</h1>
<div class="row">

<%= form_with model:@proverb do |f| %>
<%= f.label :body, "格言" %>
<%= f.text_field :body, placeholder:"格言を入力してください" %>

<%= f.label :name, "誰の格言か" %>
<%= f.text_field :name, placeholder:"格言主を入力してください" %>

<%= f.label :introduction, "格言に対してのコメント" %>
<%= f.text_area :introduction, placeholder:"この格言に対するあなたの印象を入力してください" %>

<%= f.submit "投稿する" %>

<% end %>

</div>