<div class="showProverb">
    <div class="showProverb__section">
        <h1> <%= @proverb.name %> の格言</h1>
    </div>

    <div class="showProverb__body">
        <h2><%= @proverb.body %></h2>
    </div>

    <div class="showProverb__favoriteButton">
        <%= render partial: 'proverb_favorites/favorite', locals: {proverb: @proverb} %>
    </div>

    <div class="showProverb__bookmarkButton">
        <%= render partial: 'proverb_bookmarks/bookmark', locals: { proverb: @proverb} %>
    </div>


    <div class="mainArea">

        <div class="personalComment">
            <div class="personalComment__label">
                <p>この言葉を投稿した <%= link_to @proverb.user.name, user_path(@proverb.user_id) %> さんのコメント</p>
            </div>

            <div class="personalComment__comment">
                <%= @proverb.introduction %>
            </div>
        </div>

        <div class="userComment">
            <p class="userComment__label">みんなのコメント</p>

            <div class="Comment">
                <% @comments.each do |comment| %>
                <table>
                    <tr>
                        <th rowspan="3">
                            <%= attachment_image_tag(comment.user, :image, size: "100x100", fallback: "no_image.png", class:"otherComment__image") %>
                        </th>
                        <td><%= link_to comment.user.name, user_path(comment.user) ,class:"otherComment__name" %>
                            <%= comment.created_at.strftime("%Y-%m-%d") %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="otherComment__body"><%= comment.comment %></p>
                        </td>
                    </tr>
                </table>
                <% end %>
                <div class="commentCreate">
                    <%= form_with model:@comment, url:proverb_post_comments_path(@proverb), local: true do |f| %>
                    <%= f.label :comment, "コメント投稿", class:"commentCreate__label" %><br>
                    <%= f.text_field :comment, class:"commentCreate__form" %><br>
                    <%= f.submit "投稿", class:"commentCreate__button" %>
                    <% end %>
                </div>
                <%= paginate @comments %>
            </div>
        </div>
    </div>

    <% if current_user == @proverb.user || admin_signed_in? %>
    <%= link_to "編集する", edit_proverb_path(@proverb), class:"showProverb__button" %>
    <%= link_to "削除する", proverb_path(@proverb), method: :delete, class:"showProverb__button--delete" %>
    <% end %>
</div>