<div class="showProverb">
    <h1 class="showProverb__section"> <%= @proverb.name %> の格言</h1>

    <h2 class="showProverb__body"><%= @proverb.body %></h2>

    <p class="showProverb__label">
        この言葉を投稿した <%= link_to @proverb.user.name, user_path(@proverb.user_id) %> さんのコメント
    </p>

    <div class="showProverb__personalComment">
        <%= @proverb.introduction %>
    </div>

    <p class="showProverb__label--otherComment">みんなのコメント</p>

    <div class="proverb__favoriteButton">
        <%= render partial: 'proverb_favorites/favorite', locals: {proverb: @proverb} %>
    </div>

    <div class="proverb__bookmarksButton">
        <%= render partial: 'proverb_bookmarks/bookmark', locals: { proverb: @proverb} %>
    </div>

    <div class="otherComment">
        <% @post_comments.each do |post_comment| %>
        <table>
            <tr>
                <th rowspan="3">
                    <%= attachment_image_tag(post_comment.user, :image, size: "100x100", fallback: "no_image.png", class:"otherComment__image") %>
                </th>
                <td><%= link_to post_comment.user.name, user_path(post_comment.user) ,class:"otherComment__name" %>
                    <%= post_comment.created_at.strftime("%Y-%m-%d") %>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="otherComment__body"><%= post_comment.comment %></p>
                </td>
            </tr>
        </table>
        <% end %>
    </div>

    <%= link_to "削除する", admins_proverb_path(@proverb), method: :delete, class:"proverb__deleteButton" %>


</div>