<div class="editProfile">
    <div class="editProfile__section">
        <h1>プロフィール編集</h1>
    </div>

    <%= form_with model: @user, url: user_path(@user.id), local: true do |f| %>
    <%= render 'layouts/error_message', model: f.object %>

    <div class="editProfile__image">
        <%= image_tag @image_url, size:"400x300", id:"img1" %><br>
        <%= f.attachment_field :image, id:"myfile" %>
    </div>

    <div class="input">
        <%= f.label :name, "ユーザー名", class:"input__label" %><br>
        <%= f.text_field :name, class:"input__form"  %><br>
    </div>

    <%= f.label :email, "メールアドレス", class:"editProfile__label" %><br>
    <div class="editProfile__email">
        <%= @user.email %>
    </div>

    <div class="input">
        <%= f.label :introduction, "自己紹介文", class:"input__label" %><br>
        <%= f.text_area :introduction, class:"input__form--area" %>
    </div>

    <%= f.submit "更新", class: "editProfile__button" %><br>
    <%= link_to "パスワード変更", edit_user_registration_path, class:"editProfile__button--edit" %><br>
    <%= link_to "退会する", user_withdrawal_path(@user.id), class:"editProfile__button--delete" %>
    <% end %>
</div>