<div class="profile">
    <%= form_with model: @user, url: user_path(@user.id) do |f| %>
    <div class="profile__title">
        プロフィール編集
    </div>
    <div class="leftSide">
        <div class="leftSide__image">
            <%= attachment_image_tag(@user, :image, size: "400x300", fallback: "no_image.png", id:"img1") %><br>
            <%= f.attachment_field :image, id:"myfile" %>
        </div>
    </div>

    <div class="rightSide">
        <div class="itemBox">
            <div class="itemBox__subject">
                <%= f.label :name, "ユーザー名" %>
            </div>
            <div class="itemBox__form">
                <%= f.text_field :name %><br>
            </div>
        </div>
        <div class="itemBox">
            <div class="itemBox__subject--rightMarginSmall">
                <%= f.label :email, "メールアドレス" %>
            </div>
            <div class="itemBox__form">
                <%= @user.email %>
            </div>

            <%= link_to "パスワード変更", edit_user_registration_path, class:"itemBox__button" %>

        </div>
        <div class="itemBox">
            <div class="itemBox__subject">
                <%= f.label :introduction, "自己紹介文" %>
            </div>
            <div class="itemBox__form">
                <%= f.text_area :introduction %>
            </div>
        </div>

        <%= f.submit "更新", class: "rightSide__button" %>

        <div class="rightSide__button--red">
            <%= link_to "退会する", user_withdrawal_path(@user.id) %>
        </div>
    </div>
    <% end %>
</div>