<div class="profile">
    <div class="profile__title">
        <strong><%= @user.name %></strong> さんのプロフィール
    </div>
    <div class="profile__image">
        <%= attachment_image_tag(@user, :image, size: "400x300", fallback: "no_image.png") %><br>
    </div>
    <div class="profile__introductionTitle">
        自己紹介
    </div>
    <div class="profile__introduction">
        <%= @user.introduction %>
    </div>

    <%= link_to "プロフィール編集", edit_user_path(current_user), class:"profile__button" %>

    <%= link_to "お気に入り一覧", user_bookmarks_path(current_user), class:"profile__button--bookmark" %>
</div>