<div class="editEpisode">
    <div class="editEpisode__section">
        <h1>エピソード編集</h1>
    </div>

    <%= form_with model: @episode, local: true do |f| %>
    <%= render 'layouts/error_message', model: f.object %>
    
    <div class="input">
        <%= f.label :title, "タイトル", class:"input__label" %><br>
        <%= f.text_field :title, class:"input__form" %>
    </div>

    <div class="input">
        <%= f.label :body, "内容", class:"input__label" %><br>
        <%= f.text_area :body, class:"input__form--area" %>
    </div>

    <%= f.submit "更新する", class:"editEpisode__button" %>

    <% end %>

</div>