<h1>エピソード編集</h1>
<div class="row">

<%= form_with model:@episode do |f| %>

<%= f.label :title, "タイトル" %>
<%= f.text_field :title %>

<%= f.label :body, "内容" %>
<%= f.text_area :body %>

<%= f.submit "更新する" %>

<% end %>

</div>