<div class="indexEpisode">
    <div class="indexEpisode__section">
        <h1>みんなのエピソード</h1>
    </div>
</div>
<div class="mainArea">
    <div class="favorite">
        <div class="favorite__section">
            <h3><%= @user.name %> さんの<br>エピソードについた いいね件数</h3>
        </div>
        <% @user_episodes.each do |episode| %>
        <div class="favorite__time">
            <%= episode.created_at.strftime("%Y-%m-%d %H:%M")  %>
        </div>
        <span class="favorite__title">
            <%= link_to episode.title, episode_path(episode) %>
        </span>
        <span class="favorite__count">
            <%= episode.episode_favorites.count %> 件
        </span>
        <% end %>
    </div>

    <div class="timeline">
        <% @episodes.each do |episode| %>
        <table>
            <tr>
                <th rowspan="3">
                    <%= attachment_image_tag(episode.user, :image, size: "100x100", fallback: "no_image.png") %>
                </th>
                <td>
                    <%= link_to episode.user.name, user_path(episode.user) ,class:"timeline__name" %>
                    <%= episode.updated_at.strftime("%Y-%m-%d") %>
                </td>
            </tr>
            <tr>
                <td>
                    <%= link_to episode.title, episode_path(episode) , class:"timeline__body" %>
                </td>
            </tr>
        </table>
        <% end %>
        <div class="timeline__page">
            <%= paginate @episodes %>
        </div>
    </div>

    <div class="userProfile">
        <%= attachment_image_tag(@user, :image, size: "200x150", fallback: "no_image.png", class:"userProfile__image") %>
        <div class="userProfile__name">
            <p>ニックネーム：<%= @user.name %></p>
        </div>
        <%= link_to "エピソード投稿", new_episode_path, class:"userProfile__button" %><br>
        <%= link_to "エピソード検索", episodes_search_path, class:"userProfile__button--search" %><br>
        <%= link_to "プロフィール編集", edit_user_path(current_user), class:"userProfile__button--edit" %><br>
        <%= link_to "お気に入り一覧", user_bookmarks_path(current_user), class:"userProfile__button--bookmark" %>
    </div>
</div>