<div class="newEpisode">

    <h1 class="newEpisode__section">エピソード投稿</h1>

    <div class="input">
        <%= form_with model:@episode, local: true do |f| %>
        
        <%= render 'layouts/error_message', model: f.object %>

        <%= f.label :title, "タイトル", class:"input__label" %>
        <%= f.text_field :title, placeholder:"タイトルを入力してください", class:"input__form" %>

        <%= f.label :body, "内容", class:"input__label" %>
        <%= f.text_field :body, placeholder:"エピソードの内容を入力してください", class:"input__form" %>

        <%= f.submit "投稿する", class:"input__button" %>

        <% end %>
    </div>
</div>