<div class="row">

        <div>
                <h1>エピソード詳細</h1>
        </div>

        <div class="col-xs-4">
                <p>ユーザー名： <%= @user.name %> </p>
                <%= attachment_image_tag(@user, :image, size: "200x150", fallback: "no_image.png") %><br>
        </div>

        <div class="col-xs-8">

                <div>
                        <p>タイトル： <%= @episode.title %> </p>
                        <p>内容： <%= @episode.body %> </p>
                </div>

                <div id="favorites_button">
                <%= render partial: 'favorites/favorite', locals: { episode: @episode} %>
                </div>
                
        </div>

        <div id="bookmarks_button">
                <%= render partial: 'bookmarks/bookmark', locals: { episode: @episode} %>
        </div>

        <div>
                <%= link_to "編集する", episode_path(@episode) %>
        </div>

        <div>
                <%= link_to "削除する", @episode_path, method: :delete %>
        </div>

</div>
</div>