<div class="row">

<div>
<h1>エピソード詳細</h1>
</div>

<div class="col-xs-4">
<p>ユーザー名： <%= @user.name %> </p>
<%= attachment_image_tag(@user, :image, size: "200x150", fallback: "no_image.png") %><br>
</div>

<div class="col-xs-8">

<div>
<p>タイトル： <%= @episode.title %> </p>
<p>内容： <%= @episode.body %> </p>
</div>

<div>
        <% if @episode.favorited_by?(current_user) %>
        <li>
        <%= link_to episode_favorites_path(@episode, favorite_sort: 1), method: :delete do %>
        <i class="fas fa-heart"></i>
        <% end %>
        </li>
        <% else %>
        <li>
        <%= link_to episode_favorites_path(@episode, favorite_sort: 1), method: :post do %>
        <i class="far fa-heart"></i>
        <% end %>
        </li>
        <% end %>
        </div>
        <p>いいね件数： <%= @episode.episode_favorites.count %> </p>
</div>

<div>
お気に入りに登録
</div>

<div>
編集する
</div>

<div>
<%= link_to "削除する", @episode_path, method: :delete %>
</div>

</div>
</div>