<div class="editLetter">
    <div class="editLetter__section">
        <h1>落とし文編集</h1>
    </div>
    <%= form_with model:@letter, url:admins_dropped_letter_path(@letter), local: true do |f| %>
    <%= render 'layouts/error_message', model: f.object %>
    <div class="input">
        <%= f.label :body, "落とし文", class:"input__label" %><br>
        <%= f.text_area :body, class:"input__form" %>
    </div>
    <div class="input">
    <%= f.label :delete_flg, "表示ステータス", class:"input__label" %><br>
    <label><%= f.radio_button :delete_flg, false %>表示</label>　<label><%= f.radio_button :delete_flg, true %>非表示</label>
    </div>
    <%= f.submit "更新", class:"editLetter__button" %>
    <% end %>
</div>