<div class="letter">
    <h1 class="letter__section">落とし文一覧</h1>

    <div class="createLetter">
        <p class="createLetter__label">新規投稿</p>
        <%= form_with model:@new_letter, url:admins_dropped_letters_path  do |f| %>
        <%= f.text_field :body, class:"createLetter__form" %>
        <%= f.submit "投稿", class:"createLetter__button" %>
        <% end %>
    </div>

    <div class="indexLetter">
        <table>
            <% @letters.each do |letter| %>
            <tr>
                <td><%= letter.body %></td>
                <td><%= link_to "編集", edit_admins_dropped_letter_path(letter), class:"indexLetter__button" %></td>
                <td><%= link_to "削除", admins_dropped_letter_path(letter), method: :delete, class:"indexLetter__button--destroy" %>
                </td>
            </tr>
            <% end %>
        </table>
    </div>

</div>
