<div class="adminLogin">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <h1 class="adminLogin__title">管理者ログイン</h1>

  <div class="input">
    <%= f.label :email, "メールアドレス", class:"input__label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input__form" %>

    <%= f.label :password, "パスワード" , class:"input__label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class:"input__form" %>

    <%= f.submit "ログイン", class:"adminLogin__button" %>

  </div>
  <% end %>
</div>