<div class="showEpisode">

    <div class="showEpisode__section">
        <h1>エピソード詳細</h1>
    </div>

    <div class="mainArea">
        <div class="leftSide">
            <div class="leftSide__name">
                <p>ユーザー名： <%= @user.name %> </p>
            </div>
            <%= attachment_image_tag(@user, :image, size: "300x250", fallback: "no_image.png", class:"leftSide__image") %>
        </div>

        <div class="rightSide">
            <div class="rightSide__label">
                <p>タイトル</p>
            </div>
            <div class="rightSide__title">
                <p><%= @episode.title %></p>
            </div>
            <div class="rightSide__label">
                <p>内容</p>
            </div>
            <div class="rightSide__body">
                <p><%= @episode.body %></p>
            </div>
            <%= link_to "削除する", admins_episode_path(@episode), method: :delete, data: {confirm: "削除しますか??"}, class:"rightSide__button--delete" %>
        </div>
    </div>
</div>