<div class="showProverb">
    <div class="showProverb__section">
        <h1> <%= @proverb.name %> の格言</h1>
    </div>

    <div class="showProverb__body">
        <h2><%= @proverb.body %></h2>
    </div>

    <div class="mainArea">

        <div class="personalComment">
            <div class="personalComment__label">
                <p>この言葉を投稿した <%= link_to @proverb.user.name, admins_user_path(@proverb.user_id) %> さんのコメント</p>
            </div>

            <div class="personalComment__comment">
                <%= @proverb.introduction %>
            </div>
        </div>

        <div class="userComment">
            <p class="userComment__label">みんなのコメント</p>

            <div class="Comment">
                <% @comments.each do |comment| %>
                <table>
                    <tr>
                        <th rowspan="3">
                            <%= attachment_image_tag(comment.user, :image, size: "100x100", fallback: "no_image.png", class:"otherComment__image") %>
                        </th>
                        <td><%= link_to comment.user.name, admins_user_path(comment.user) ,class:"otherComment__name" %>
                            <%= comment.created_at.strftime("%Y-%m-%d") %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="otherComment__body"><%= comment.comment %></p>
                        </td>
                    </tr>
                </table>
                <% end %>
                <%= paginate @comments %>
            </div>
        </div>
    </div>

    <%= link_to "削除する", admins_proverb_path(@proverb), method: :delete, class:"showProverb__button--delete" %>

</div>

</div>