<table class="table table-hover table-inverse">
    <% if @range == '2' %>

    <h2 class="page-header text-center">格言から <%= "#{@word}" %> を検索した結果です </h2>
    <thead>
        <tr>
            <th class=" col text-center">投稿者</th>
            <th class=" col text-center">格言主</th>
            <th class=" col text-center">格言</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @proverbs.each do |proverb| %>
        <tr>
            <td class=" col text-center"> <%= link_to proverb.user.name, user_path(proverb.user_id) %></td>
            <td class=" col text-center"><%= proverb.name %></td>
            <td class=" col text-center"><%= proverb.body %></td>
        </tr>
        <% end %>
    </tbody>

    <% else %>
    <h2 class="page-header text-center">エピソードから <%= "#{@word}" %> を検索した結果です</h2>
    <thead>
        <tr>
            <th class=" col text-center">投稿者</th>
            <th class=" col text-center">タイトル</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @episodes.each do |episode| %>
        <tr>
            <td class=" col text-center"><%= link_to episode.user.name, user_path(episode.user_id) %></td>
            <td class=" col text-center"><%= link_to episode.title, episode_path(episode) %></td>
        </tr>
        <% end %>
    </tbody>
    <% end %>
</table>