<div class="contact">

    <div class="contact__section">
        <h1>お問い合わせ</h1>
    </div>

    <%= form_with model:@inquiry, url:inquiries_path, method: :post, local: true do |f| %>
    <%= render 'layouts/error_message', model: f.object %>

    <div class="input">
        <%= f.label :name, "お名前", class:"input__label" %><br>
        <%= f.text_field :name, class:"input__form" %>
    </div>
    <div class="input">
        <%= f.label :message, "お問い合わせ内容", class:"input__label" %><br>
        <%= f.text_area :message, class:"input__form--area" %>
    </div>

    <%= f.submit "送信", class:"contact__button" %>

    <% end %>
</div>