<!DOCTYPE html>
<html>

<head>
  <title>いとをかし</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header class="header">
    <div class="header__logo"></div>
    <div class="header__nav">
      <ul>
        <%= render 'layouts/header' %>
      </ul>
    </div>
    <div class="header__search">
      <%= form_tag(search_path, method: :get) do %>
      <%= text_field_tag (:word), "", class:"form-inline" %>
      <%= select_tag 'range' ,options_for_select([['エピソードから検索', '1'], ['格言から検索', '2']]), class:"btn-default btn-sm" %>
      <%= submit_tag "検索", class:"btn-default btn-sm" %>
      <% end %>
    </div>
  </header>

  <main>
    <p class="notice"><%= notice %></p>
    <%= yield %>
  </main>
  <br>
  <footer class="footerNavi"><%= link_to "お問い合わせ", new_inquiries_path, class:"footerNavi__inquiry" %></footer>
</body>

</html>

