<!DOCTYPE html>
<html>

<head>
  <title>いとをかし</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class="headerArea">
      <div class="headerArea__logo"></div>
      <div class="headerArea__nav">
        <ul>
          <% if user_signed_in? %>
          <li>
            <%= link_to " マイページ", user_path(current_user) %>
          </li>
          <li>
            <%= link_to " みんなのエピソード", episodes_path %>
          </li>
          <li>
            <%= link_to " みんなの格言", proverbs_path %>
          </li>
          <li>
            <%= link_to " ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <% else %>
          <li>
            <%= link_to " ログイン", new_user_session_path %>
          </li>
          <li>
            <%= link_to " 新規登録", new_user_registration_path %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>

  <main>
  <div class="flashMessage">
    <p class="notice"><%= notice %></p>
  </div>
    <%= yield %>
  </main>
  <br>
  <footer>
    <%= link_to "お問い合わせ", new_inquiries_path, class:"inquiry" %>
  </footer>
  </div>
</body>

</html>