<!DOCTYPE html>
<html>

<head>
  <title>いとをかし</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <nav class="navbar navbar-default" style="background-color: #192437;">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <h1>LOGO</h1>
          </div>
          <div class="col-xs-8">
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div class='container'>
      <p class="notice"><%= notice %></p>
      <%= yield %>
    </div>
  </main>
  <footer align="right">お問い合わせ</footer>
</body>

</html>