<div class="editPassword">
  <div class="editPassword__section">
    <h2>パスワード変更</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <%= f.hidden_field :email, autofocus: true, autocomplete: "email" %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="input">
    <%= f.label :current_password,"現在のパスワード", class:"input__label" %><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"input__form" %>
  </div>

  <div class="input">
    <%= f.label :password,"新しいパスワード", class:"input__label" %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"input__form" %>
    <% if @minimum_password_length %>
    <br />
    <em><%= @minimum_password_length %> 桁以上</em>
    <% end %>
  </div>

  <div class="input">
    <%= f.label :password_confirmation,"パスワード確認入力", class:"input__label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input__form" %>
  </div>


  <%= f.submit "Update", class:"editPassword__button" %>

  <% end %>
</div>