<div class="sign">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <h1 class="sign__title">新規会員登録</h1>

  <div class="input">
    <%= f.label :name, "ニックネーム", class:"input__label" %>
    <%= f.text_field :name, autofocus: true, class:"input__form" %>

    <%= f.label :email, "メールアドレス", class:"input__label" %>
    <%= f.email_field :email, class:"input__form" %>

    <%= f.label :password, "パスワード (#{@minimum_password_length}桁以上)", class:"input__label"%>
    <%= f.password_field :password, autocomplete: "new-password", class:"input__form" %>

    <%= f.label :password_confirmation, "パスワード確認入力", class:"input__label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input__form" %>

    <%= f.submit "Sign up", class:"input__button" %>
  </div>

  <p class="sign__loginNavi">会員の方はこちらから</p>

  <%= render "users/shared/links" %>

  <% end %>

</div>